/* Navbar.module.css */

.navbar-button-container {
  @apply hidden md:flex box-border justify-end items-start gap-2.5 w-[129px] h-full flex-auto self-stretch grow;
}

.navbar-container {
  @apply top-0 left-0 w-full flex flex-row justify-start items-center gap-2.5;
}

.logo-container {
  @apply box-border flex flex-row justify-start items-center md:w-[129px] h-full flex-auto grow;
}

.mobile-navbar-button-container {
  @apply flex md:hidden box-border justify-end items-start gap-2.5 w-[129px] h-full flex-auto self-stretch grow;
}
