/* Hero.module.css */

.hero-container {
  @apply relative py-32.5 w-full;
}

.hero-flex-wrapper {
  @apply flex gap-2.5;
}

.hero-inner {
  @apply flex flex-col md:flex-row gap-2.5 z-0 w-full h-auto;
}

.hero-image-container {
  @apply flex-[1.940] flex rounded-md overflow-hidden;
}

.hero-image {
  @apply w-full h-auto object-cover;
}

.hero-description-container {
  @apply flex-[8];
}

.hero-content {
  @apply flex flex-col;
}

.hero-name-row {
  @apply flex flex-col;
}

.hero-name {
  @apply font-heading text-3xl font-semibold text-primary;
}

.hero-social-row {
  @apply flex gap-2.5 justify-start items-center;
}

.hero-name-subtext {
  @apply flex-1 hidden md:flex font-sans text-lg;
}

.hero-social-button {
  @apply flex-1 hidden md:flex justify-center items-center;
}

.hero-spacer {
  @apply flex-[1];
}

.hero-body-container {
  @apply flex flex-col gap-1;
}

.hero-description-text {
  @apply font-sans text-lg;
}

.hero-bottom-row {
  @apply flex gap-2.5;
}

.hero-nav-button {
  @apply flex-[1] hidden md:flex justify-center items-center;
}
